@{
    ViewBag.Title = "Контакты";
    ViewBag.Message = "Список контактов";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Мурлычева 95<br />
    Ростов-на-Дону<br />
    <abbr title="Phone">Телефон:</abbr>
    8 (863) 283-09-00, (863) 283-09-01.
</address>

<address>
    <strong>Техническая поддержка:</strong>   <a href="mailto:Support@example.com">eiei@list.ru</a><br />
</address>